.background-slider {
  position: relative;
}

.cover-slider {
  margin-top: 25px;
  margin-left: 100px;
  height: 415px;
  width: 1240px;
  border-radius: 25px;
}

.cover-slider {
  position: relative;
  object-fit: cover;
}

.left-slider {
  position: absolute;
  top: 41%;
  left: 120px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.img-left-slider {
  height: 79px;
}

.right-slider {
  position: absolute;
  top: 40%;
  right: 200px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.img-right-slider {
  height: 79px;
}

.slides-counter {
  position: absolute;
  top: 88%;
  left: 47%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
