.btnDropdown {
  width: 1023px;
  height: 50px;
  color: #fff;
  background-color: #ff6060;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 31px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btnDropdown img {
  height: 25px;
}

.btnContent {
  width: 1023px;
  color: #ff6060;
  background-color: #f6f6f6;
  margin-top: -10px;
  padding-top: 27px;
  padding-bottom: 19px;
}

.dropdowns {
  width: 1240px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
