.section-info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 100px;
}

@media all and (max-width: 768px) {
  .section-info {
    padding: 0 20px;
  }
}

.title-info {
  margin: 30px 0 5px;
  font-size: 36px;
  color: #ff6060;
  font-weight: 500;
  padding: 0;
  width: 80%;
  order: 1;
}

@media all and (max-width: 768px) {
  .title-info {
    font-size: 18px;
    margin: 15px 0 5px;
    width: 100%;
  }
}

.location-info {
  margin-left: 100px;
  font-size: 18px;
  color: #ff6060;
  font-weight: 500;
  margin: 0 0 20px;
  width: 100%;
  order: 3;
}

@media all and (max-width: 768px) {
  .location-info {
    font-size: 14px;
    margin: 0 0 10px;
    order: 2;
  }
}

.img-info {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin: 30px 0 0;
  padding: 0;
  width: 20%;
  order: 2;
}

@media all and (max-width: 768px) {
  .img-info {
    margin: 0 0 16px;
    width: 50%;
    order: 5;
  }
}

.img-info img {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}
@media all and (max-width: 768px) {
  .img-info img {
    height: 32px;
    width: 32px;
  }
}
.img-info figcaption {
  width: 50%;
  font-size: 18px;
  margin-right: 10px;
  text-align: right;
  color: #ff6060;
  font-weight: 500;
}

@media all and (max-width: 595px) {
  .img-info figcaption {
    font-size: 12px;
    width: 30%;
  }
}

@media screen and (min-width: 595px) and (max-width: 768px) {
  .img-info figcaption {
    font-size: 12px;
    width: 20%;
  }
}

.tags-info {
  list-style-type: none;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 24px;
  width: 70%;
  order: 4;
}

@media all and (max-width: 768px) {
  .tags-info {
    margin: 0 0 5px;
    width: 100%;
    order: 3;
  }
}

.tag-info {
  background-color: #ff6060;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  min-height: 25px;
  margin: 0 10px 6px 0;
  padding: 3px 40px;
  font-size: 14px;
  font-weight: 500;
}

@media all and (max-width: 768px) {
  .tag-info {
    border-radius: 5px;
    margin: 0 10px 6px 0;
    padding: 2px 30px;
    font-size: 10px;
    line-height: 20px;
  }
}

.list-equipments {
  list-style-type: none;
}

.dropdowns-info {
  display: flex;
  flex-direction: row;
  gap: 76px;
  padding-right: 100px;
  padding-left: 100px;
}
@media all and (max-width: 768px) {
  .dropdowns-info {
    flex-direction: column;
    gap: 0;
    padding-right: 20px;
    padding-left: 20px;
  }
}
